# nicklockwood/SwiftFormat configuration

--indent 4
--tabwidth 4
--linebreaks lf
--maxwidth 120
--importgrouping alphabetized
--allman false
--self remove
--commas inline
--header ignore
--enable sortImports
--exclude .build,tools
